*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 40px;
    padding: 10px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 5px 5px 5px gray;
}
.child{
    margin: 20px;
    padding: 10px;
    width: 330px;
    background-color: white;
    box-shadow: 4px 4px 5px black ;
}
i{
    color: green;
}
.one_top{
    display: flex;
}
div{
    margin: 10px;
}
.one_middle{
    font-size: 16px;
}
.one_last>a{
    float: inline-end;
}