*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
button{
  height: 30px;
  margin: 20px;
  padding: 20px;
  font: 2rem;
  text-align: center;
}
.image{
  display: flex;
  justify-content: center;
}
.item1:hover ~ .image{
  transition: 2s ease-in-out;
  transform: translate(200px, 100%);
}
.item2:hover ~ .image{
  transition: 2s ease-in-out;
  transform: rotate(360deg);
}
.item3:hover ~ .image{
  transition: 2s ease-in-out;
  transform: scale(2);
}
.item4:hover ~ .image{
  transition: 2s ease-in-out;
  transform: skew(180deg);
}